<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
        <File name="jsonLog" filename="src/main/resources/logging/myJSONLog.json">
            <JsonLayout compact="true" eventEol="true"  >
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSXXX}" />
            </JsonLayout>
        </File>

        <File name="XMLLog" fileName="src/main/resources/logging/myXMLLog.log">
            <XmlLayout complete="true" />
        </File>

    </Appenders>

    <Loggers>
        <Logger name="com.epam.ik" level="trace" additivity="false">
            <AppenderRef ref="Console" level="error" />
            <AppenderRef ref="jsonLog" />
            <AppenderRef ref="XMLLog" />
        </Logger>
        <Root level="error" additivity="false">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>