<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="File"
              fileName="C:\\upskill2_suffix_app\\src\\main\\resources\\logging\\JSONLog.json"
              append="true">
            <PatternLayout pattern="{DateTime:%d{DATE},message:%msg,severityLabel:%p%throwable%ex}%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="File"/>
        </Root>
        <Root level="info">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>